.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;

}

.imageAndText {
    display: flex;
    gap: 10px;
    background-color: #0066CC;
    border-radius: 15px;
    position: absolute;
    width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;
    justify-content: flex-start;


}

.imageAndText img {


}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.text:after {

}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF
}

.messageText {
    color: white;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.time {
    position: absolute;
    width: 26px;
    height: 12px;
    left: 1173px;
    top: 257px;
}